@font-face {
  font-family: 'Inter';
  src: url('fonts/inter_0.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
